<!--#render wikis-->

<div class="center-block wikilist">
    <h2>My wikis</h2>
    <div class="row">
         <div class="col-sm-7">Category</div>
         <div class="col-sm-2">Edit</div>
         <div class="col-sm-3">Delete</div>
    </div>
    <div class="center-block" style="text-align: center; margin-top: 15px;">
        <%= link_to "New wiki", "#", class: "new-wiki" %>
    </div>
</div>
