<!--#render wikis-->

<div class="center-block wikilist">
    <h2>My wikis</h2>
    <% @wikis = Wiki.all %>
    <% @wikis.each do |wiki| %>
        <div class="row">
            <div class="col-sm-9"><%= link_to wiki.title, wiki %></div>
            <div class="col-sm-1"><%= link_to "Edit", edit_wiki_path(wiki) %></div>
            <div class="col-sm-2"><%= link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
    <% end %>
    
    <div class="center-block" style="text-align: center; margin-top: 15px;">
        <%= link_to "New wiki", new_wiki_path, class: "new-wiki" %>
    </div>
</div>
